@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/* main start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
/* main end*/

/* conatiner padding */
:root {
  --padding: 0px 100px;
}

/* navbar */

.container-fluid {
  @media only screen and (max-width: 768px) {
    gap: 50px;
    height: 150px;
    /* background: white; */
  }
}
.nav-center {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.nav-center a {
  font-size: 20px;
  font-weight: 400px;
  line-height: 28px;
  color: rgb(28, 49, 97);
  text-transform: capitalize;
  margin-left: 30px;
}
.nav-icon {
  width: 25px;
  height: 25px;
  margin-left: 12px;
}
.pages {
  @media only screen and (min-width: 480px) {
    display: none;
  }
}
.contact {
  margin-left: 20px;
}
/* generic styles */
.subTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(42, 42, 42);
  text-align: center;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: rgb(1, 41, 76);
  padding: 24px 0px 80px;
  text-align: center;
}

/* card styles */
.card__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  color: rgb(42, 42, 42);
  text-align: left;
}
.benefits {
  font-size: 16px;
  line-height: 24px;
}

.info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(175, 175, 175);
  text-align: left;
  @media only screen and (max-width: 480px) {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
.users {
  width: 20px;
  height: 18px;
}

.card__devider {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 2px;
  background: rgb(175, 175, 175);
  margin: 0px 30px;
  text-align: center !important;
}

.right {
  margin-right: 7px;
}

/* modal */
.ant-modal-title {
  opacity: 0;
}

.ant-btn-color-default,
.ant-btn-variant-solid {
  display: none;
}
/* ticket */

/* facts */
.direction {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(159, 209, 240);
  cursor: pointer;
}
.direction:hover .arrow {
  transform: translateX(5px);
}
.arrow {
  font-size: 20px;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
}
.react__FaIcon {
  color: rgb(175, 175, 175);
}

/* location */
.resize {
  font-size: 22px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Booking */

.contact__icon {
  text-align: center;
  color: rgb(168, 202, 61);
  width: 24px;
  height: 24px;
  @media only screen and (max-width: 480px) {
    width: 16px;
    height: 16px;
  }
}
.phone__call {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(42, 42, 42);
  @media only screen and (max-width: 480px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}

.phone__number {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(168, 202, 61);
  @media only screen and (max-width: 480px) {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }
}

/* form */
.form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(0, 0, 0);
  padding-top: 20px;
}
.width__full {
  width: 100%;
  label {
    width: 100%;
  }
}
.input__label {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
.visa-support {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
.ant-picker {
  width: 485px;
  min-height: 35px;
  padding: 6px 10px;
  color: rgb(0, 0, 0);
  border: 1.5px solid rgb(175, 175, 175);
  border-radius: 10px;
  margin-top: 5px;
}

/* footer */
.footer__subtitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  @media only screen and (max-width: 480px) {
    font-size: 28px;
    text-align: center;
    max-width: 415px;
    height: 100px;
  }
}
.content__item {
  padding-right: 20px;
  font-size: 24px;
  text-align: left;
  @media only screen and (max-width: 480px) {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
}
.footer__title {
  padding: 0px !important;
  margin: opx !important;
  text-align: left;
  text-decoration: none;
  color: white;
  &:hover {
    color: rgb(206, 141, 56);
  }

  @media only screen and (max-width: 480px) {
    font-size: 18px;
    text-align: center;
    max-width: 415px;
    max-height: 50px;
  }
}
